*.testlog

#dlls and pdbs
*.dll
*.pdb

*.CopyComplete

*.FileListAbsolute.txt
*.suo
*testlog.manifest

#folders
/packages

#bins
/store.web/bin

# caches
*.cache

# xmls
*.SqlServer.xml
EntityFramework.xml

# configs
Store.Data.dll.config
applicationhost.config

#nuget packages.
*.nupkg

